{% extends "base.html" %}
{% set active_page = request.path|replace("/","") %}
{% block content %}

<div id="content">
<div class="bd-pageheader text-xs-center text-sm-left">
  <div class="container">
    <h1>Interests</h1>

  </div>
</div>
<hr class="featurette-divider">
</div>
<div class="container marketing">
    <div class="row vertical-align">
    {% for name, url, logo in favorites %}
        <div class="col-lg-4">
            <a href="{{ url }}">
                <img class="img" src="../static/images/interests/{{ logo }}" alt="{{ name }}" style="max-width: 300px; max-height: 140px">
                <h2>{{ name }}</h2></a>
        </div>
    {% if (loop.index) % 3 == 0 %} </div><div class="row vertical-align"> {% endif %}
          {% endfor %}
    </div>
</div>
{% endblock %}